# Scrapy project configuration file
#
# For documentation, see:
# https://docs.scrapy.org/en/latest/topics/settings.html
#

[settings]
default = news_crawler.settings

[deploy]
project = news_crawler
